#calculator{
	left: 40%;
	top: 20%;
	position:absolute ;
	background: #222222;
	width: 375px;

	padding: 15px;
	border-radius: 10px;

}

button{
	background: #3b3b3b;
	width: 90px;
	height: 100px;
	border-radius: 20px;
	color: white;
	font-size: 40px;
	border: none;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 5px;
}

input{
	padding: 25px;
	width: 325px;
	font-size: 40px;
	background: #3b3b3b;
	color: white;
	border: none;
	border-radius: 10px;
	margin-bottom: 15px;

}

button:hover{
	opacity: 0.75;
}

#add_id,#minus_id,#multiply_id,#divide_id,#equal_id,#clear_id,#delete_id,#bracket_id{
	background: orange;
}


